.checkoutPage__main {
  // height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkoutPage__title {
  margin-bottom: 20px;
  font-size: $text-lg;
}

#checkoutPage__moneris_outer {
  height: 100vh;
  width: 800px;
}